/* FONT */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */

/*********************************** VARIABLE *******************************/
:root {
  font-size: 1rem;
}
.light-mode {
  --navbar-color: #f0f0f0;
  --navbar-gb-color: #007fff;
}

/*:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}*/

/************************************ RESET ******************************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ****************************** NAV ************************************ */
.navbar {
  display: flex;
  border: 1px solid red;
  padding: 0;
  background-color: #007fff;
  padding-bottom: 30px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.logo {
  height: 120px;
  width: 120px;
  margin-left: 20px;
  margin-top: 0;
}
.links {
  display: flex;
  margin-left: 55px;
  font-size: 14px;
  font-family: "Montserra", sans-serif;
  font-weight: bold;
  /* border: 1px solid red; */
}
ul {
  list-style: none;
  margin-top: 60px;
}
.link > a {
  text-decoration: none;
  padding: 10px;
  color: white;
}
.recherche {
  margin-top: 60px;
  margin-left: 15px;
}

/* SUB MENU */
.links1 {
  margin-top: 12px;
  display: none;
  margin: 10px;
  /* padding: 30px; */
  border: 1px solid black;
}
.links1 .link1 > a {
  padding: 40px;
}
.link1 > a {
  /* padding:40px; */
  text-decoration: none;
  color: white;
}
.link:hover .links1 {
  display: block;
}

/***** color on mouseover *******/
.links .link span1 a {
  text-decoration: none;
  color: white;
}

.links:hover .link span1 > a {
  color: #f1db28;
  text-decoration: underline;
  margin-right: none;
}

.burger {
  display: none;
}
.logo1 {
  display: none;
}
/*petit appareil*/
@media screen and (max-width: 767.98px) {
  .navbar .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 0;
    /* height:calc(100vh); */
    height: 60vh;
    top: 65px;
    right: 0;
  }
  .open-nav .navbar_links{
    width: 100%;
  }

  .navbar_link > a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    transition: all 0.4s ease-in-out;
  }
  .navbar_link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }
  .logo {
    display: none;
  }
  .recherche {
    display: none;
  }
  .logo1 {
    margin-top: 5px;
    display: block;
  }
  .burger {
    display: block;
    margin-left: 191px;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 26px;
  }
  .bar {
    display: block;
    width: 45px;
    height: 4px;
    background: white;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
  }
  /* effet de la croix */
  .open-nav .bar {
    width: 0;
    background: transparent;
  }
  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: white;
    border-radius: 3px;
    transition: all 0.6s ease-in-out;
  }
  .bar::before {
    transform: translateY(-10px);
  }
  .open-nav .bar::before {
    transform: rotate(45deg);
  }
  .bar::after {
    transform: translateY(10px);
  }
  .open-nav .bar::after {
    transform: rotate(-45deg);
  }
}

/* MEDIA QUERY Grandes appareils */
@media screen and (max-width: 768px) {
  .navbar_link > a::after {
    display: block;
    content: " ";
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    transition: width 0.4s;
  }
}
